
chequer {width: 15; height: 15}
chequer[player="you"] {color: red} 
chequer[player="him"] {color: blue}


die {width: 0; height: 0;}
die:value("1") {image}
die:value("2") {image}
die:value("3") {image}
die:value("4") {image}
die:value("5") {image}
die:value("6") {image}

cube {width: 0; height: 0;background-color: green; color: yellow}
chip {width: 25; height: 25; color: black}


board {x: 0; y: 0; width: 341; height: 232}

match {x: 241; y: 0; width: 100; height: 232}
length {x: 316; y: 93; width: 25; height: 46}
crawford {x: 291; y: 93; width: 25; height: 46}
score {width: 50; height: 93}
score[player='you']{x: 291; y:139}
score[player='him']{x: 291: y: 0 }
player {width:0; height: 0}
player[player='you']{x:0; y:0}
player[player='him']{x:0; y:0}

position {x: 0; y: 0; width: 241; height: 232}
point        {width: 18; height:88}
point.[parity='odd']    {color: pink}
point.[parity='even']   {color: skyblue}
point:value("1") { x: 249 ; y: 139 }
point:value("2") { x: 230 ; y: 139 }
point:value("3") { x: 212 ; y: 139 }
point:value("4") { x: 194 ; y: 139 }
point:value("5") { x: 176 ; y: 139 }
point:value("6") { x: 158 ; y: 139 }
point:value("7") { x: 115 ; y: 139 }
point:value("8") { x:  97 ; y: 139 }
point:value("9") { x:  79 ; y: 139 }
point:value("10") {x:  61 ; y: 139 }
point:value("11") {x:  43 ; y: 139 }
point:value("12") {x:  25 ; y: 139 }
point:value("13") {x:  25 ; y:   5 }
point:value("14") {x:  43 ; y:   5 }
point:value("15") {x:  61 ; y:   5 }
point:value("16") {x:  79 ; y:   5 }
point:value("17") {x:  97 ; y:   5 }
point:value("18") {x: 115 ; y:   5 }
point:value("19") {x: 158 ; y:   5 }
point:value("20") {x: 176 ; y:   5 }
point:value("21") {x: 194 ; y:   5 }
point:value("22") {x: 212 ; y:   5 }
point:value("23") {x: 230 ; y:   5 }
point:value("24") {x: 248 ; y:   5 }

bar[player='you'] {x:133; y:139}
bar[player='him'] {x:133; y: 5}

cubeholder {width: 25 ;height: 101; , color }
cubeholder cube {x: 266 ; y: 105}

home {width: 25 ;height: 101; , color }
home[player='you'] {x: 266; y: 131}
home[player='him'] {x: 266; y: 0}
home[player='you'] cube{x: 266; y: 197;} 
home[player='him'] cube{x: 266; y: 5;}


field {width: 108; height: 46} 
field[player="you"] {x: 158;y: 93}
field[player="him"] {x: 25 ;y: 93}
field[player="you"] die {x: 176; y: 95; x-offset: 28; y-offset: 0}
field[player="him"] die {x: 43; y:95 ; x-offset: 28 ; y-offset: 0}
field[player="you"] cube {x: 50; y: 100}
field[player="him"] cube {x: 180; y: 100;}
field[player="you"] chip {x: 158;y: 93; x-offset: 20; y-offset: 0}
field[player="him"] chip {x: 25 ;y: 93; x-offset: 20; y-offset: 0}


